.allArticles {
  font-size: 48px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  height: 20px;
}
.collections {
  color: rgba(83, 82, 82, 0.829);
  font-size: 24px;
  font-weight: 350;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.message-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mainDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Card {
  width: 310px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  border: 12px solid rgba(205, 205, 205, 0.625);
}
.saharaImg {
  width: 310px;
  height: 180px;
  background-image: url("./src/photo-1559586616-361e18714958.jpeg");
  background-repeat: no-repeat;
  background-size: 310px;
}
.childCard {
  /* border: 2px solid red; */
  box-shadow: 0 0 7px gray;
}
.city {
  font-weight: 700;
  font-size: 22px;
 font-family: 'Poppins', sans-serif;
  color: rgb(30, 30, 30);
  margin: 25px 0 6px 33px;
}
.theCity {
  color: red;
  font-weight: 400;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* text-align: center; */
  margin-left: 33px;
}
.date {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  float: right;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding: 4px;
  color: white;
  margin: 20px;
}
.mar {
  font-size: 13px;
  color: white;
  font-weight: 500;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.photobtn {
  float: left;
  position: relative;
  bottom: -147px;
  color: white;
  background-color: red;
  border: none;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 350;
  padding: 7px;
}
.newYork {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-left: 33px;
  margin-right: 20px;
  margin-top: 25px;
  color: gray;
  margin-bottom: 30px;
      line-height: 24px;
}
.icons {
  margin-left: 33px;
  padding-bottom: 20px;
  color: gray;
  font-size: 15px;
}
.comments {
  margin-left: 15px;
  background-color: rgba(128, 128, 128, 0.19);
  padding: 4px 7px;
  border-radius: 5px;
}
.comments:hover {
  background-color: rgba(128, 128, 128, 0.247);
  color: black;
  padding: 7px 7px;
  cursor: pointer;
}
.commentIcon {
  width: 17px;
  fill: rgb(86, 79, 79);
  margin-right: 10px;
}
